@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(56, 65, 78);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(100 116 139);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 65, 78);
}
